/**
 * HomePage Stylesheet
 * v.0.01
 *
 * Color Palette (http://www.colourlovers.com/palette/1930/cheer_up_emo_kid)
 * Mighty Slate: 		#556270
 * Pacifica: 			#4ECDC4
 * Apple Chic:			#C7F464
 * Cheery Pink:			#FF6B6B
 * Grandma's Pillow:	#C44D58
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html, body, input {
	font-family: 'Open Sans', ariel, sans-serif;
	font-weight: 300;
	color: #556270;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-weight: bold;
	margin: 0.3em 0;
}
h1 { font-size: 130%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
h4 { font-size: 100%; }
h5 { font-size: 100%; }
h6 { font-size: 90%; }

p {
	margin: 0.3em 0;
}

button {
	font-family: 'Open Sans', ariel, sans-serif;
}

/** Notice stuff */
#dimmer {
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	z-index: 5000;
}
.hidden {
	display: none;
}
.notice {
	border-radius: 3px;
	box-shadow: red 3px 0px 0px;
	font-size: 0.9em;
	background: #FFF;
	height: 90px;
	left: 50%;
	margin-top: -65px;
	margin-left: -180px;
	padding: 20px;
	position: fixed;
	text-align: justify;
	top: 50%;
	width: 320px;
}
	.notice h2 {
		font-size: 120%;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
#js-notice { z-index: 10000; }
#ls-notice { z-index: 9999; }

/** Layout */
#wrap > header {
	display: block;
	clear: both;
	overflow: auto;
	padding: 0.6em 1.2em;
}
#wrap > header h1 { float: left; }
#wrap > footer {  }

#toolbar { float: right; }
	#toolbar ul {
		margin: 0;
		padding: 0;
	}
	#toolbar ul li {
		display: inline-block;
	}

#content {
	padding: 0em 0.6em 1.2em 0.6em;
}

#wrap > footer {
	display: block;
	clear: both;
	padding: 1.2em;
	overflow: auto;
}

/** General Layouts */
.row {
	min-height: 60px;
	margin: 0.6em;
	overflow: auto;

	border-radius: 3px;
	border: 2px dashed transparent;
	text-align: right;
	transition: border 0.4s;
}
	.row-inner {
		clear: both;
		text-align: left;
		overflow: auto;
	}

	.addcolumninput {

	}
	.addcolumn {
		margin: 0 1.2em 1em 0;
	}
.col {
	margin: 0.6em;

	border-radius: 3px;
	border: 2px dashed transparent;
	transition: border 0.4s;
}

.fullwidth {
	width: 96.5%;
	clear: both;
}
.onethird {
	float: left;
	width: 30%;
}
	.twothird {
		float: left;
		width: 60%;
	}

/** Control Elements */
#row-edit {
	text-align: right;
}
.edit-row-control {
	display: inline-block;

	float: right;
	line-height: 1em;
}

.edit-mode-on .row { border: 2px dashed #CCC; }
.edit-mode-on .col { border: 2px dashed #DDD; }
	.edit-mode-on .inner { padding: 0.6em; }
header h1 {
	text-align: middle;
}
input[name=site-title] {
	vertical-align: middle;
	font-size: 130%;
}

.button {
	background: #C44D58;
	/*background-image: linear-gradient(to bottom, #FF6B6B, #C44D58);*/
	border: none;
		border-radius: 3px;
	box-shadow: #FF6B6B 0px 1px 0 0px;
	color: #FFF;
	cursor: pointer;
	padding: 0.4em 0.4em 0.4em 0.4em;
}
.switch {
	cursor: pointer;
}
.switch:checked {

}

.edit-control-header {
	border-radius: 5px;
	color: #999;
	padding: 0.2em 0.6em;
	transition: color 0.4s;
	}
	.edit-control-header:hover { color: #333; }
.edit-control {
	border-radius: 3px;
	height: auto;
	line-height: 1em;
	padding: 0.2em;
}
	.edit-control-header .edit-control { border: none; padding: none; }
.control-hidden { transition: height 2s; height: 0px; overflow: hidden; }
	.edit-control button, .edit-row-control button {
		background: #F5F5F5;
		background-image: linear-gradient(to bottom, #FFF, #F5F5F5);
		border: none;
			border-radius: 4px;
		box-shadow: #E5E5E5 0 2px 0 -1px;
		cursor: pointer;
		margin-left: 0.3em;
		padding: 3px 8px;
		transition: all 0.5s;
	}
	.edit-control button:hover, .edit-row-control button:hover { box-shadow: #555 0 2px 0 -1px; }
		.edit-control button.add:hover { background: #9dc91c; }
		.edit-control button.edit:hover { background: #9dc91c; }
		.edit-control button.remove:hover, .edit-row-control button.remove:hover { background: #b70000; }
		.edit-control button img, .edit-row-control button img { width: 12px; height: 12px; }

.invalid {
	border: #F00 1px solid;
}
.submitadd, .submitremoval {
	border: none;
	border-radius: 10px;
	box-shadow: #999 0 2px 0 -1px;
	cursor: pointer;
	height: 20px;
	line-height: 20px;
	margin: 0px;
	padding: 0px;
	width: 20px;
}
	.submitremoval {
		background: #FF6B6B;
		text-justify: right;
	}
	.submitadd {
		background: #C7F464;

	}
	.submitadd img, .submitremoval img {
		width: 12px;
	}
.submitadd:hover {

}
.submitremoval:hover {

}

.overlay {
	z-index: 500;
}
	#data-manager {
		background: #c44d58;
		color: #FFF;
		padding: 0.5em 1em;
		max-width: 220px;
		overflow: auto;
	}
	#data-manager.bottom-side {
		border-radius: 0px 5px 0px 0px;
		position: fixed;
		bottom: 0px;
		left: 0px;
	}
	#data-manager p {
		float: left;
		font-size: 0.9em;
		max-width: 60%;
	}
	#data-manager button {
		border: none;
		border-radius: 4px;
		box-shadow: 0 2px 0 0 #444;
		cursor: pointer;
		float: right;
		margin: 13px 0;
		padding: 0.5em;
	}
		#data-manager button img {
			width: 12px;
		}
/** General Styling */
a { color: #FF6B6B; }
a:visited { color: #C44D58; }

p {
	line-height: 112%;
}

ul li, ol li {
	line-height: 112%;
}
.img-helper {
	vertical-align: middle;
}

/** Widgets */
.search { padding-bottom: 1.2em; text-align: center; }
	.search.fullwidth {

	}
	.search.onethird {

	}
	.search.onesixth {

	}
	.search.twothird {

	}
	#searchform {  }
	#s {
		border: none;
		border-radius: 6px 0px 0px 6px;
		box-shadow:  inset #C44D58 0px 0px 0px 1px;
		font-size: 105%;
		height: 33px;
		min-width: 400px;
		padding-left: 0.6em;
	}
	#searchform input[type=submit] {
		background: #C44D58;
		border: none;
		border-radius: 0px 6px 6px 0px;
		color: #FFF;
		cursor: pointer;
		margin-left: -0.25em;
		height: 35px;
		font-size: 105%;
	}
	.searchprovicon {
		vertical-align: middle;
	}
	.providerpick {
		background: #C44D58;
		border: none;
		border-radius: 6px;
		color: #FFF;
		cursor: pointer;
		margin: 0 0.25em;
		height: 35px;
		font-size: 105%;
	}

.links ul {
	margin-left: 0;
	padding-left: 0;
}
.links ul li {
	list-style: none;
	padding: 0.2em;
}
.links input {
	border: 1px solid #999;
	border-radius: 5px;
	margin: 0 0.1em 0.2em 0;
}
.edit-mode-on .links li {
	clear: both;
	overflow: auto;
	padding: 0.2em;
	transition: background 0.2s;
}
	.edit-mode-on .links li:hover {
		background: #EEE;
		border-radius: 5px;
	}
	.edit-mode-on .links li.edit-element:hover { background: #FFF; }
	.links .submitremoval { float: right; }
	.links .submitadd {
		font-size: 12px;
		float: right;
		width: auto;
		padding-right: 0.5em;
	}
		.links .submitadd img {
			margin: 0 0.3em 0 0.2em;
		}

.bbcnews > h2 {
	padding: 0.3em;
}

.bbcnews .slide {
	background: #FFF;
	width: 100%;
}

.bbcnews .scroll-container {
	position: relative;
	height: 1.5em;
	width: 100%;
	overflow: hidden;
}

.newscarousel {
	clear: both;
	overflow: auto;
}


.bbcnews .previous_next_button {
	background: #FFF;
	border-radius: 5px;
	box-shadow: #999 0px 1px 2px;
	cursor: pointer;
	padding: 0.5em;
	margin: 0.3em;
	transition: background 0.3s;
}
.bbcnews .previous_next_button:hover {
	background: #EEE;
}
	.bbcnews .previous_next_button img {
		height: 0.7em;
	}
	.bbcnews .previous_button {
		float: left;
	}
	.bbcnews .next_button {
		float: right;
	}

.bbcnews ul {
	clear: both;
}
.bbcnews li {
	display: inline-block;
	padding: 0.1em 0.3em;
	width: 30%;
	float: left;
}
.favourites {  }
.weather {  }
