/**
 * HomePage Stylesheet
 * v.0.01
 *
 * Color Palette (http://www.colourlovers.com/palette/1930/cheer_up_emo_kid)
 * Mighty Slate: 		#556270
 * Pacifica: 			#4ECDC4
 * Apple Chic:			#C7F464
 * Cheery Pink:			#FF6B6B
 * Grandma's Pillow:	#C44D58
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html, body, input {
	font-family: 'Open Sans', ariel, sans-serif;
	font-weight: 300;
	color: #556270;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-weight: bold;
	margin: 0.3em 0;
}
h1 { font-size: 130%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
h4 { font-size: 100%; }
h5 { font-size: 100%; }
h6 { font-size: 90%; }

p {
	margin: 0.3em 0;
}

/** Notice stuff */
#dimmer {
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	z-index: 5000;
}
.hidden {
	display: none;
}
.notice {
	border-radius: 3px;
	box-shadow: red 3px 0px 0px;
	font-size: 0.9em;
	background: #FFF;
	height: 90px;
	left: 50%;
	margin-top: -65px;
	margin-left: -180px;
	padding: 20px;
	position: fixed;
	text-align: justify;
	top: 50%;
	width: 320px;
}
	.notice h2 {
		font-size: 120%;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
#js-notice { z-index: 10000; }
#ls-notice { z-index: 9999; }

/** Layout */
#wrap > header { display: block; clear: both; overflow: auto; padding: 1.2em; }
#wrap > header h1 { float: left; }
#wrap > footer {  }

#toolbar { float: right; }
	#toolbar ul li {
		display: inline-block;
	}

#content {
	padding: 1.2em 0.6em;
}

#wrap > footer {
	display: block;
	clear: both;
	padding: 1.2em;
	overflow: auto;
}

/** General Layouts */
.row {
	min-height: 60px;
	margin: 1.2em;
	padding: 0.6em;
	overflow: auto;

	border-radius: 3px;
	border: 2px dashed transparent;
	transition: border 0.4s;
}
.col {
	margin: 0.6em;
	padding: 0.6em;

	border-radius: 3px;
	border: 2px dashed transparent;
	transition: border 0.4s;
}

.fullwidth {
	width: 96.5%;
	clear: both;
}
.onethird {
	float: left;
	width: 30%;
}
	.twothird {
		float: left;
		width: 60%;
	}

/** Control Elements */
.edit-mode-on .row { border: 2px dashed #CCC; }
.edit-mode-on .col { border: 2px dashed #DDD; }

.button {
	background: #C44D58;
	/*background-image: linear-gradient(to bottom, #FF6B6B, #C44D58);*/
		border-radius: 3px;
	box-shadow: #FF6B6B 0px 1px 0 0px;
	color: #FFF;
	cursor: pointer;
	padding: 0.4em 0.4em 0.4em 0.4em;
}
.switch {
	cursor: pointer;
}
.switch:checked {

}

.edit-control-header { padding: 0.2em; border-radius: 5px; }
.edit-control {
	border-radius: 3px;
	height: auto;
	line-height: 1em;
	padding: 0.2em;
}
	.edit-control-header .edit-control { border: none; padding: none; }
.control-hidden { transition: height 2s; height: 0px; overflow: hidden; }
	.edit-control button {
		background: #F5F5F5;
		background-image: linear-gradient(to bottom, #FFF, #F5F5F5);
		border: none;
			border-radius: 4px;
		box-shadow: #E5E5E5 0 2px 0 -1px;
		margin-left: 0.3em;
		padding: 3px 8px;
		transition: all 0.5s;
	}
	.edit-control button:hover { box-shadow: #555 0 2px 0 -1px; }
		.edit-control button.add:hover { background: #9dc91c; }
		.edit-control button.edit:hover { background: #9dc91c; }
		.edit-control button.remove:hover { background: #b70000; }
		.edit-control button img { width: 12px; height: 12px; }

/** General Styling */
a { color: #FF6B6B; }
a:visited { color: #C44D58; }

p {
	line-height: 112%;
}

ul li, ol li {
	line-height: 112%;
}

/** Widgets */
.search { padding-bottom: 1.2em; text-align: center; }
	#searchform {  }
	#s {
		border: none;
		border-radius: 6px 0px 0px 6px;
		box-shadow:  inset #C44D58 0px 0px 0px 1px;
		font-size: 105%;
		height: 33px;
		min-width: 400px;
		padding-left: 0.6em;
	}
	#searchform input[type=submit] {
		background: #C44D58;
		border: none;
		border-radius: 0px 6px 6px 0px;
		color: #FFF;
		cursor: pointer;
		margin-left: -0.25em;
		height: 35px;
		font-size: 105%;
	}

.favourites {  }
.weather {  }
