@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html, body {
    font-family: 'Open Sans', ariel, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #556270;
}

body {
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.5em;
}

h1 { font-size: 1.3em; }
h2, h3 { font-size: 1.2em }
    h2 { margin: 1em 0 0.5em; }
    h3 { margin: 0.5em 0 0.5em -1em; }
h4, h5 { font-size: 1.1em }

article {
    margin: 0 auto;
    width: 80%;
        max-width: 960px;
}

section {
    border-top: 1px dashed #DDD;
}

p {
    margin-bottom: 1em;
}
strong {
    font-weight: bold;
}

ul {
    list-style: circle;
}
ul li {
    margin: 0 0 0.2em 1.6em;
}

nav ul {
    list-style: none;
    margin: none;
}

#content {
    clear: both;
    overflow: auto;
}
    #content ol li {
        display: inline-block;
        padding: 0.6em;
        float: left;
    }
    #content li.current {

    }

#user_link, #devs_link {
    background: #C44D58;
    border-radius: 5px;
    color: #FFF;
    display: inline-block;
    padding: 0.6em;
    text-decoration: none;
}
    #user_link:hover, #devs_link:hover {

    }
